// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../functions";

// 2. Include any default variable overrides here
$neutral-light-2: #f5f5f5 !default;
$neutral-light-3: #e0e0e0 !default;
$nav-tabs-link-active-bg: $neutral-light-3 !default;
$nav-tabs-border-radius: 0 !default;
$light: $neutral-light-2 !default;
$grid-gutter-width: 0 !default;

// 3. Include remainder of required Bootstrap stylesheets
@import "../variables";
@import "../mixins";
@import "../utilities";

// 4. Include any optional Bootstrap components as you like
@import "../root";
@import "../reboot";
@import "../type";
@import "../images";
@import "../containers";
@import "../transitions";
@import "../grid";
@import "../nav";
@import "../navbar";

// Helpers
@import "../helpers";

// Utilities
@import "../utilities/api";

// 5. Add additional custom code here

// Utilities

.k--bg-light {
  @extend .bg-light !optional;
}

// Container
.k--container {
  @extend .container;
}

// Nav
.nav-tabs {
  .nav-link {
    background-color: $neutral-light-2;
  }
}

.k--tab-pane {
  @extend .tab-pane !optional;
}

.k--fade {
  @extend .fade !optional;
}

.k--nav {
  @extend .nav !optional;
}

.k--nav-tabs {
  @extend .nav-tabs !optional;
  border-bottom: 1px solid $neutral-light-3;
}

.k--nav-item {
  @extend .nav-item !optional;
}

.k--tab-content {
  @extend .tab-content !optional;
}

.k--nav-link {
  @extend .nav-link !optional;
}

.k--active {
  @extend .active !optional;
}

.k--show {
  @extend .show !optional;
}

// Navbar
.k--navbar {
  @extend .navbar;
}

.k--navbar-light {
  @extend .navbar-light;
}

.k--navbar-expand-lg {
  @extend .navbar-expand-lg;
}

.k--navbar-brand {
  @extend .navbar-brand;
}

.k--navbar-toggler {
  @extend .navbar-toggler;
}

.k--navbar-toggler-icon {
  @extend .navbar-toggler-icon;
}

.k--navbar-collapse {
  @extend .navbar-collapse;
}

.k--navbar-nav {
  @extend .navbar-nav;
}

// Transition

.k--collapse {
  @extend .collapse;
}

// Grid
.k--row {
  @extend .row;
}

.k--col {
  @extend .col;
}

.k--col-2 {
  @extend .col-2;
}

.k--col-3 {
  @extend .col-3;
}

.k--col-4 {
  @extend .col-4;
}

.k--col-5 {
  @extend .col-5;
}

.k--col-6 {
  @extend .col-6;
}

.k--col-9 {
  @extend .col-9;
}
